:root {
    --brand-color-text: #212121;
    --brand-color-hero: #FFFFFF;
    --brand-color-backgraund: #2F303A;
    --brand-color-link: #2196F3;
    --brand-color-logo: #2196F3;
    --brand-color-logo-two: #000000;
    --brand-color-description: #757575;
    --brand-color-button: #2196F3;
    --brand-color-contacts: rgba(255, 255, 255, 0.6);
    --brand-color-com: #F5F4FA;
    --brand-color-bgd: #F5F5F5;
    --brand-color-header-icon: #757575;
    --brand-color-features: #F5F4FA;
    --brand-color-social-link: #AFB1B8;
    --brand-color-border: #AFB1B8;
    --brand-color-icon:  #AFB1B8;
    --brand-color-bgd-icon-foot: rgba(255, 255, 255, 0.1);
    --brand-color-button-hf: #188CE8;
}