.header {
    
    background: var(--brand-color-hero);
    border-bottom: 1px solid #ECECEC;
    padding-top: 16px;
    padding-bottom: 16px;
    

    @media screen and (min-width: 1200px) {
       padding-top: 24px;
       padding-bottom: 25px;         
    }
    
    &__container {
        position: relative;
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;       
            align-items: center;    
        }
    }

    .menu-button {
        position: absolute;
        top: -5px;
        right: -5px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            display: none;    
        }   
    }

}