.navigation {

    &__logo-f {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--brand-color-logo);
        text-decoration: none;
        
            &:hover {
                color: var( --brand-color-text);
            }
            &:focus {
                color: var( --brand-color-text);
            }
            
            &:hover > .navigation__logo-s {
                color: var(--brand-color-logo);
            }
   
            &:focus > .navigation__logo-s {
               color: var(--brand-color-logo);
           }
        }
    
        &__logo-s {
            font-family: 'Raleway', sans-serif;
            color: var(--brand-color-logo-two);
            text-decoration: none;
            
            &:hover {
            color: var(--brand-color-logo);
            }
            &:focus {
                color: var(--brand-color-logo);
            }
        }

        &__menu {
            display: none;
            list-style: none;
            
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            

            @media screen and (min-width: 768px) {
                display: flex;
                gap: 50px; 
            }

        }
        
        &__link {
            padding-bottom: 33px;
            position: relative;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            text-decoration: none;
            color: var(--brand-color-text);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
            &:hover {
                color: var(--brand-color-link);
            }
            &:focus {
                color: var(--brand-color-link);
            }
            
            @media screen and (min-width: 1200px) {
                &--current::after {
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    content: "";
                    background-color: var(--brand-color-link);
                    border-radius: 2px;
                }
            }
            
             
        }

    @media screen and (min-width: 768px) {
     
        display: flex;
        align-items: center;
        gap: 88px;
                  
    }

    @media screen and (min-width: 1200px) {
        gap: 92px;
    }

    
 }